.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background-color: gray;
    color: white;
}

.navbar a{
    color:white;
    text-decoration: none;
    margin-right:15px;
}

.navbar a:hover{
    text-decoration: underline;
}

.navbar left,right{
    display: flex;
    align-items: center;
}

.logo{
    font-weight: bold;
    font-size:18px;
    margin-right:20px;
}

.btn{
    background-color: hotpink;
    padding:6px 12px;
    border-radius:4px;
    color:white;
}

.bnt hover{
    background-color: deeppink;
}

.login{
    margin-left:10px;
}
